/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-one__left {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .floor-plan__top-right {
    margin-right: 0;
    margin-left: unset;
  }

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-one__left {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .floor-plan__top-right {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 51px;
  }

  .floor-plan__tab-content-righ {
    margin-right: 0;
    margin-top: 40px;
  }

  .neighborhoods__right {
    margin-right: 0;
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .about-one__left {
    margin-left: 0;
    margin-top: 0;
  }

  .about-one__right {
    margin-right: 0;
    margin-top: 60px;
  }

  .floor-plan__top-right {
    margin-right: 0;
    margin-left: unset;
  }

  .floor-plan__tab-content-righ {
    margin-right: 0;
    margin-left: unset;
  }

  .floor-plan__main-tab-box .tab-buttons .tab-btn + .tab-btn {
    margin-right: 0;
    margin-left: unset;
  }
  .neighborhoods__right {
    margin-right: 0;
    margin-left: unset;
  }
}
/*--------------------------------------------------------------
# Slider All Responsice Css
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .main-slider__sub-title span {
    margin-left: 0;
    margin-right: unset;
  }
}
/*--------------------------------------------------------------
# Main Menu All Responsice Css
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu-two__logo {
    margin-left: 50px;
    margin-right: unset;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-menu-two__logo {
    margin-left: 50px;
    margin-right: unset;
  }
}

@media (max-width: 767px) {
  .main-menu-two__logo {
    margin-left: 0;
    margin-right: unset;
  }

  .main-slider-three__details-sub-title {
    padding-left: 50px;
    padding-right: unset;
  }

  .main-slider-three__details-content {
    margin-right: 25px;
    margin-left: unset;
  }
}

@media only screen and (min-width: 1375px) and (max-width: 1575px) {
  .main-menu-two__logo {
    margin-left: 90px;
    margin-right: unset;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1374px) {
  .main-menu-two__logo {
    margin-left: 90px;
    margin-right: unset;
  }
}
