/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --alipes-font: "Cairo", sans-serif;
  --alipes-font-two: "El Messiri", sans-serif;
  --alipes-letter-spacing: 0;
}

*
{
  letter-spacing: 0px !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

/*--------------------------------------------------------------
# Custom Cursor
--------------------------------------------------------------*/
.custom-cursor__cursor {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid var(--alipes-base);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  right: 0;
  top: 0;
  -webkit-transform: translate(calc(-1 * (-50% + 5px)), -50%);
  transform: translate(calc(-1 * (-50% + 5px)), -50%);
  z-index: 999991;
}

.custom-cursor__cursor-two {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--alipes-base);
  opacity: 0.3;
  position: fixed;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  pointer-events: none;
  -webkit-transition: width 0.3s, height 0.3s, opacity 0.3s;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 999991;
}
.thm-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.preloader {
  right: 0;
  left: 0;
}

/* scroll to top */
.scroll-to-top {
  right: unset;
  left: 40px;
}

/*--------------------------------------------------------------
# Navigations One
--------------------------------------------------------------*/
.main-header {
  right: 0px;
}

.main-header:before {
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  content: "";
  height: 1px;
  background-color: rgba(var(--alipes-white-rgb), 0.05);
}

.main-menu__social {
  padding-left: 60px;
  margin-left: 30px;
  margin-right: 0px;
  padding-right: 0px;
}

.main-menu__social:before {
  right: -1000000px;
  left: 0;
}

.main-menu__social a + a {
  margin-right: 25px;
  margin-left: 0px;
}

.main-header__contact-list li + li {
  margin-right: 30px;
  margin-left: 0px;
}

.main-header__contact-list li .text {
  margin-right: 4px;
  margin-left: 0px;
}
@media (min-width: 1440px) {
  .main-menu__main-menu-box {
    padding-right: 185px;
    padding-left: 0px;
  }
}

.main-menu .main-menu__list > li + li,
.stricky-header .main-menu__list > li + li {
  margin-right: 65px;
  margin-left: 0px;
}

.main-menu .main-menu__list > li > a::before,
.stricky-header .main-menu__list > li > a::before {
  right: -12px;
  left: -12px;
  transform-origin: right center;
}

.main-menu .main-menu__list > li.current > a::before,
.main-menu .main-menu__list > li:hover > a::before,
.stricky-header .main-menu__list > li.current > a::before,
.stricky-header .main-menu__list > li:hover > a::before {
  transform-origin: left center;
}

.main-menu .main-menu__list > li > ul,
.main-menu .main-menu__list > li > ul > li > ul,
.stricky-header .main-menu__list > li > ul,
.stricky-header .main-menu__list > li > ul > li > ul {
  right: 0;
  left: unset;
}

.main-menu .main-menu__list > li > ul > li > a::before,
.main-menu .main-menu__list > li > ul > li > ul > li > a::before,
.stricky-header .main-menu__list > li > ul > li > a::before,
.stricky-header .main-menu__list > li > ul > li > ul > li > a::before {
  right: unset;
  left: 20px;
}

.main-menu .main-menu__list > li > ul > li > ul,
.stricky-header .main-menu__list > li > ul > li > ul {
  left: unset;
  right: 100%;
}

.main-menu .main-menu__list li ul li > ul.right-align,
.stricky-header .main-menu__list li ul li > ul.right-align {
  top: 0;
  right: auto;
  left: 100%;
}

.main-menu-three__main-menu-box .main-menu__list > .megamenu > ul,
.main-menu-two__main-menu-box .main-menu__list > .megamenu > ul,
.main-menu__wrapper .main-menu__list > .megamenu > ul {
  right: 0 !important;
  left: 0 !important;
}

.main-menu .main-menu__list > li > a,
.stricky-header .main-menu__list > li > a {
  letter-spacing: 0px;
}

.stricky-header {
  right: 0;
  left: unset;
}

.stricky-header .main-menu__inner {
  padding-right: unset;
  padding-left: 0;
}

.mobile-nav__buttons {
  margin-right: auto;
  margin-left: 10px;
}

.mobile-nav__buttons a + a {
  margin-right: 10px;
  margin-left: 0px;
}

/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/
.mobile-nav__wrapper {
  left: unset;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

.mobile-nav__wrapper .container {
  padding-right: 0;
  padding-left: 0;
}

.mobile-nav__overlay {
  right: 0;
  left: 0;
}

.mobile-nav__content {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.mobile-nav__close {
  left: 15px;
  right: unset;
}

.mobile-nav__content .main-menu__list > li > ul,
.mobile-nav__content .main-menu__list > li > ul > li > ul {
  margin-right: 0.5em;
  margin-left: 0px;
}

.mobile-nav__content .main-menu__list > li > a > button,
.mobile-nav__content .main-menu__list > li > ul > li > a > button,
.mobile-nav__content .main-menu__list > li > ul > li > ul > li > a > button {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mobile-nav__content .main-menu__list li.cart-btn span {
  left: auto;
  right: unset;
}

.mobile-nav__social a + a {
  margin-right: 30px;
  margin-left: 0px;
}

.mobile-nav__contact li > i {
  margin-right: 0px;
  margin-left: 10px;
}

/*--------------------------------------------------------------
# Navigations Two
--------------------------------------------------------------*/
.main-header-two {
  right: 0px;
  left: 0;
}

.main-header-two:before {
  right: 0;
  left: 0;
}

.main-menu-two__wrapper-inner-border {
  right: 0;
  left: 0;
}

.main-menu-two__logo {
  padding: 30.5px 0;
  margin-left: 290px;
}

.main-menu-two__search-box:before {
  right: -30px;
  left: unset;
}
/*--------------------------------------------------------------
# Main Slider
--------------------------------------------------------------*/

.main-slider .image-layer {
  left: 0;
  bottom: 0;
  right: 0;
  background-position: right center;
}

.main-slider .image-layer:before {
  right: 0;
  left: 0;
}

.main-slider__overly {
  right: 0;
  left: 0;
}

.main-slider__sub-title span {
  margin-left: 20px;
  margin-right: 0px;
}

.main-slider__nav {
  right: 50%;
  left: unset;
  transform: translateY(-50%) translateX(50%);
}

.main-slider__nav .swiper-button-next,
.main-slider__nav .swiper-button-prev {
  right: auto;
  left: auto;
}

/*--------------------------------------------------------------
# Main Slider Two
--------------------------------------------------------------*/
#main-slider-pagination {
  right: 50%;
  left: unset;
  -webkit-transform: translate(50%, calc(-50% + 95px));
  transform: translate(50%, calc(0% + 0px));
}

#main-slider-pagination .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
  border-radius: 50%;
  border: 3px solid var(--alipes-white);
  transform: scale(0);
  transition: all 100ms linear;
  transition-delay: 0.1s;
}

#main-slider-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-right: 10px;
  margin-left: 0px;
}

/*--------------------------------------------------------------
# Main Slider Three
--------------------------------------------------------------*/
.image-layer-three {
  left: 0;
  bottom: 0;
  right: 0;
  background-position: right center;
}

.image-layer-three:before {
  right: 0;
  left: 0;
}

.main-slider-three__shape-1 {
  right: 0;
  left: unset;
}

.main-slider-three__details-sub-title {
  padding-right: 50px;
  padding-left: 70px;
}

.main-slider-three__details-content {
  margin-right: 30px;
  margin-left: 0px;
}

.main-slider-three__nav {
  right: 50%;
  left: unset;
  transform: translateY(-50%) translateX(50%);
}

.main-slider-three__nav .swiper-button-next,
.main-slider-three__nav .swiper-button-prev {
  right: auto;
  left: auto;
}

/*--------------------------------------------------------------
# About One
--------------------------------------------------------------*/

.about-one__img-two {
  left: unset;
  right: 0;
}

.about-one__left {
  margin-left: 100px;
  margin-right: 0px;
}

.about-one__img-box:before {
  right: 100px;
  left: -60px;
}

.about-one__img-box:after {
  right: -10000000px;
  left: 283px;
}

.about-one__shape-1 {
  left: -92px;
  right: unset;
}

.about-one__big-text {
  bottom: 310px;
  right: -80px;
  left: unset;
  transform: rotate(-90deg);
  letter-spacing: 0px;
  opacity: 0.8;
}

.about-one__right {
  margin-right: 40px;
  margin-left: 0px;
}


.about-one__points-list-content .text {
  margin-right: 20px;
  margin-left: 0px;
}

.about-one__shape-2 {
  left: -153px;
  right: unset;
}

/*--------------------------------------------------------------
# Counter One
--------------------------------------------------------------*/
.counter-one__bg {
  left: -30px;
  right: unset;
  background-position: left center;
}

.counter-one__single {
  padding: 36px 0 26px 38px;
}

.counter-one__count-box {
  position: relative;
  display: block;
  margin-top: 17px;
  padding-right: 40px;
}

/*--------------------------------------------------------------
# Floor Plan
--------------------------------------------------------------*/
.floor-plan__top-right {
  margin-right: 40px;
  margin-left: 0px;
}

.floor-plan__main-tab-box .tab-buttons .tab-btn + .tab-btn {
  margin-right: 5px;
  margin-left: 0px;
}

.floor-plan__main-tab-box .tab-buttons .tab-btn span:before {
  right: 0;
  left: 0;
}
.floor-plan__tab-content-righ {
  margin-right: 40px;
  margin-left: 0px;
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer__shape-1 {
  right: 0;
  left: unset;
}
.footer-widget__explore-list {
  float: right;
}

.footer-widget__explore-list + .footer-widget__explore-list {
  margin-right: 84px;
  margin-left: 0px;
}

.footer-widget__explore-list li a:before {
  right: 0;
  left: 0;
  transform-origin: left center;
}

.footer-widget__explore-list li a:hover {
  text-shadow: -0.3px 0 0 rgba(255, 255, 255, 0.8);
}

.footer-widget__explore-list li a:hover:before {
  transform-origin: right center;
}

.footer-widget__contact-list li .text {
  margin-right: 17px;
  margin-left: 0px;
}

.site-footer__social a + a {
  margin-right: 10px;
  margin-left: 0px;
}

/*--------------------------------------------------------------
# Neighborhoods
--------------------------------------------------------------*/
.neighborhoods__shape-1 {
  right: 0;
  left: 0;
}

.neighborhoods:before {
  right: 0;
  left: 0;
}

.neighborhoods__right {
  margin-right: -30px;
  margin-left: 0px;
}

.faq-one-accrodion .accrodion-title h4::before {
  left: 0;
  right: unset;
}

/*--------------------------------------------------------------
# Instagram
--------------------------------------------------------------*/

.gallery-three__title h3:before {
  right: -167px;
  left: unset;
}

.gallery-three__title h3:after {
  left: -167px;
  right: unset;
}

.gallery-three__img:before {
  right: 0;
  left: 0;
}

.gallery-three__img-icon {
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

.gallery-three__img-icon a {
  transform: rotate(-45deg) scale(0);
}

/*--------------------------------------------------------------
# CTA Three
--------------------------------------------------------------*/
.cta-three__shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.cta-three__btn-box {
  text-align: left;
}

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/

.page-header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page-header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(var(--alipes-black-rgb), 0.6);
}

.page-header__overly {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
}

/*--------------------------------------------------------------
# Amenities
--------------------------------------------------------------*/
.amenities {
  position: relative;
  display: block;
  padding: 120px 0 86px;
  z-index: 1;
}

.amenities__shape-1 {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: -1;
}

.amenities__single {
  margin-bottom: 30px;
}

.amenities__icon:before {
  right: unset;
  left: -23px;
}

.amenities__text {
  padding-bottom: 31px;
}

/*--------------------------------------------------------------
# Gallery Two
--------------------------------------------------------------*/

.gallery-page__icon a span::before,
.gallery-page__icon a i::before,
.gallery-page__icon a span::after,
.gallery-page__icon a i::after {
  right: 50%;
  left: unset;
  transform: translate(50%, -50%);
}

/*--------------------------------------------------------------
# FAQ Page
--------------------------------------------------------------*/
.faq-page .faq-one-accrodion .accrodion-title h4 .icon {
  right: unset;
  left: 0;
}

.faq-page .faq-one-accrodion .accrodion-title h4 .icon::before,
.faq-page .faq-one-accrodion .accrodion-title h4 .icon::after {
  right: 50%;
  left: unset;
  transform: translate(50%, -50%);
}

/*--------------------------------------------------------------
## Error Page
--------------------------------------------------------------*/

.error-page-shape-one {
  left: -30px;
  right: unset;
}
.error-page__form input[type="search"] {
  padding-right: 50px;
  padding-left: 75px;
  border-radius: 0;
}

.error-page__form button[type="submit"] {
  left: 0px;
  right: unset;
}

/*--------------------------------------------------------------
# Team Carousel Page
--------------------------------------------------------------*/
.carousel-dot-style.owl-carousel .owl-dots {
  right: 0px;
}

/*--------------------------------------------------------------
# Gallery Carousel Page
--------------------------------------------------------------*/
.gallery-carousel-page {
  padding: 120px 0 182px;
}
