/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-one__left {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-one__right {
    max-width: 600px;
    margin: 60px auto 0;
  }

  .about-one__img-two {
    z-index: 1;
  }

  .floor-plan__top-right {
    margin-left: 0;
  }

  .floor-plan__tab-content-left {
    max-width: 320px;
  }

  .floor-plan__tab-content-details li {
    padding: 14px 20px 10px;
  }

  .floor-plan__tab-content-righ {
    max-width: 490px;
  }

  .floor-plan__tab-content-righ img {
    width: 100%;
  }

  .amenities__single {
    padding: 53px 25px 49px;
  }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-one__left {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-one__right {
    max-width: 600px;
    margin: 60px auto 0;
  }

  .about-one__img-two {
    z-index: 1;
  }

  .floor-plan__top-left .section-title {
    margin-bottom: 37px;
  }

  .floor-plan__top-right {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 51px;
  }

  .floor-plan__tab-content-righ img {
    width: 100%;
  }

  .floor-plan__tab-content-righ {
    margin-left: 0;
    margin-top: 40px;
  }

  .contact-page-google-map {
    margin-top: 120px;
  }

  .footer-widget__contact {
    margin-top: 24px;
  }

  .neighborhoods__right {
    margin-left: 0;
  }

  .cta-three__left {
    text-align: center;
  }

  .cta-three__btn-box {
    text-align: center;
    margin-top: 15px;
  }

  .cta-three {
    padding: 94px 0 100px;
  }

  .page-header__overly {
    top: 0;
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .section-title__title {
    font-size: 34px;
    line-height: 44px;
  }

  .section-title__title br {
    display: none;
  }

  .about-one__left {
    margin-right: 0;
    margin-top: 0;
  }

  .about-one__img-box:before {
    display: none;
  }

  .about-one__right {
    margin-left: 0;
    margin-top: 60px;
  }

  .about-one__img-two {
    display: none;
  }

  .about-one__points-list {
    align-items: baseline;
    flex-direction: column;
  }

  .about-one__points-list li + li {
    margin-top: 10px;
  }

  .floor-plan__top-left .section-title {
    margin-bottom: 37px;
  }

  .floor-plan__top-right {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 51px;
  }

  .floor-plan__tab-content-righ img {
    width: 100%;
  }

  .floor-plan__tab-content-righ {
    margin-left: 0;
    margin-top: 40px;
  }

  .floor-plan__main-tab-box .tabs-content {
    padding: 15px;
  }

  .floor-plan__tab-content-details li {
    padding: 14px 15px 10px;
  }

  .floor-plan__main-tab-box .tab-buttons .tab-btn + .tab-btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .floor-plan__main-tab-box .tab-buttons .tab-btn {
    display: block;
    max-width: 175px;
    width: 100%;
  }

  .contact-page-google-map {
    margin-top: 120px;
  }

  .footer-widget__explore {
    margin-top: 36px;
    margin-bottom: 24px;
  }

  .footer-widget__contact {
    margin-bottom: 27px;
  }

  .site-footer__top {
    padding: 94px 0 100px;
  }

  .site-footer__bottom-inner {
    flex-direction: column;
  }

  .site-footer__bottom-right {
    margin-top: 15px;
  }

  .neighborhoods__right {
    margin-left: 0;
  }

  .cta-three__left {
    text-align: center;
  }

  .cta-three__btn-box {
    text-align: center;
    margin-top: 15px;
  }

  .cta-three {
    padding: 94px 0 100px;
  }

  .amenities__single {
    padding: 53px 25px 49px;
  }

  .error-page__title {
    font-size: 200px;
    line-height: 200px;
  }

  .error-page__tagline {
    margin-top: 0px;
  }

  .error-page {
    padding: 98px 0 120px;
  }

  .page-header__overly {
    top: 0;
  }

  .page-header__inner h2 {
    font-size: 29px;
    line-height: 40px;
  }

  .page-header__inner {
    padding: 286px 0 183px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1442px) {
}

/*--------------------------------------------------------------
# Slider All Responsice Css
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-slider__overly {
    top: 0;
  }

  .main-slider__title br {
    display: none;
  }

  .main-slider__title {
    font-size: 85px;
  }
}

@media only screen and (max-width: 767px) {
  .main-slider__overly {
    top: 0;
  }

  .main-slider__title {
    font-size: 35px;
    line-height: 45px;
  }

  .main-slider__title br {
    display: none;
  }

  .main-slider__sub-title {
    flex-direction: column;
    align-items: baseline;
  }

  .main-slider__sub-title span {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-slider__nav {
    display: none;
  }

  .main-slider .container {
    padding-top: 292px;
    padding-bottom: 200px;
  }
}

/*--------------------------------------------------------------
# Main Menu All Responsice Css
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu-two__logo {
    margin-right: 50px;
  }

  .main-menu-four .mobile-nav__toggler:hover {
    color: var(--alipes-black);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-header__top {
    display: none;
  }

  .main-menu-two__logo {
    margin-right: 50px;
  }

  .main-menu-four .mobile-nav__toggler:hover {
    color: var(--alipes-black);
  }
}

@media (max-width: 767px) {
  .main-header__top {
    display: none;
  }

  .main-menu__wrapper {
    padding: 0 30px;
  }

  .main-menu__right {
    display: none;
  }

  .main-menu-two__right {
    display: none;
  }

  .main-menu-two__wrapper {
    padding: 0 30px;
  }

  .main-menu-two__logo {
    margin-right: 0;
  }

  .main-menu-two__left {
    justify-content: space-between;
    flex: 1;
  }

  .main-slider-three__title {
    font-size: 49px;
    line-height: 59px;
  }

  .main-slider-three__details-sub-title {
    padding-right: 50px;
  }

  .main-slider-three__details {
    padding: 42px 15px 37px;
  }

  .main-slider-three__details-content {
    margin-left: 25px;
  }

  .main-slider-three__nav {
    display: none;
  }

  .main-menu-four .mobile-nav__toggler:hover {
    color: var(--alipes-black);
  }
}

@media only screen and (min-width: 1375px) and (max-width: 1575px) {
  .main-menu-two__logo {
    margin-right: 90px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1374px) {
  .main-menu-two__logo {
    margin-right: 90px;
  }

  .main-menu-two__btn-box {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1320px) {
  .main-menu__btn-box {
    display: none;
  }
}
